body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image {
  width: 100%;
}

.question {
  
}
  .answers {
    margin: 0;
  }
    input.answer[type="submit"] {
      width: 100%;
      padding: 0.5em 1em;
      font-size: 2.5em;
    }